@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 212 67% 20%;
    --foreground: 0 0% 98%;

    --card: 212 67% 20%;
    --card-foreground: 0 0% 98%;

    --popover: 212 67% 20%;
    --popover-foreground: 0 0% 98%;

    --primary: 212 67% 20%;
    --primary-foreground: 0 0% 98%;

    --secondary: 212 67% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 212 67% 20%;
    --muted-foreground: 0 0% 98%;

    --accent: 212 67% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 212 67% 20%;
    --input: 212 67% 20%;
    --ring: 212 67% 20%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 212 67% 20%;
    --foreground: 0 0% 98%;

    --card: 212 67% 20%;
    --card-foreground: 0 0% 98%;

    --popover: 212 67% 20%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 212 67% 20%;

    --secondary: 212 67% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 212 67% 20%;
    --muted-foreground: 0 0% 98%;

    --accent: 212 67% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 212 67% 20%;
    --input: 212 67% 20%;
    --ring: 212 67% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
    @apply scroll-smooth;
  }
  body {
    @apply bg-gray-50 text-foreground;
  }
}

.hero-section {
  position: relative;
  background-image: url("/bg-hero.jpg"); /* Ganti 'bg-hero.jpg' dengan path gambar Anda */
  background-size: cover;
  background-position: center;
  background-height: 400px;
  overflow: hidden; /* Memastikan konten dan pseudo-element tidak melewati batas hero section */
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Warna hitam dengan opacity 0.5 */
  z-index: 1; /* Atur z-index agar pseudo-element berada di atas gambar */
}

.content {
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  /* Adjust as needed for md-sm size */
  .hero-section::before {
    z-index: 1;
  }
}

@media (max-width: 767px) {
  .hidden {
    display: none;
  }

  .block {
    display: block;
  }
}
